In [23]:
import pandas as pd
origin = pd.read_csv("Helth_origin.csv")
test = pd.read_csv("Helth_test.csv")
test.head()
origin.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [24]:
cf = ['gender','age','hypertension','heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']

In [25]:
df = pd.DataFrame(origin)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [42]:
df.loc[df["gender"] == "Male", "gender"] = 1
df.loc[df["gender"] == "Female", "gender"] = 2
df.loc[df["ever_married"] == "Yes", "ever_married"] = 1
df.loc[df["ever_married"] == "No", "ever_married"] = 0
df.loc[df["work_type"] == "Private", "work_type"] = 0
df.loc[df["work_type"] == "Self-employed", "work_type"] = 1
df.loc[df["work_type"] == "Govt_job", "work_type"] = 2
df.loc[df["work_type"] == "children", "work_type"] = 3
df.loc[df["Residence_type"] == "Urban", "Residence_type"] = 1
df.loc[df["Residence_type"] == "Rural", "Residence_type"] = 2
df['bmi'] = df['bmi']. fillna(df['bmi'].mean())
df.isnull().sum()
df.loc[df["smoking_status"] == "Unknown", "smoking_status"] = 0
df.loc[df["smoking_status"] == "never smoked", "smoking_status"] = 1
df.loc[df["smoking_status"] == "formerly smoked", "smoking_status"] = 2
df.loc[df["smoking_status"] == "smokes", "smoking_status"] = 3
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,0,1,228.69,36.600000,2,1
1,2,61.0,0,0,1,1,2,202.21,28.893237,1,1
2,1,80.0,0,1,1,0,2,105.92,32.500000,1,1
3,2,49.0,0,0,1,0,1,171.23,34.400000,3,1
4,2,79.0,1,0,1,1,2,174.12,24.000000,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,2,80.0,1,0,1,0,1,83.75,28.893237,1,0
5106,2,81.0,0,0,1,1,1,125.20,40.000000,1,0
5107,2,35.0,0,0,1,1,2,82.99,30.600000,1,0
5108,1,51.0,0,0,1,0,2,166.29,25.600000,2,0
5109,2,44.0,0,0,1,2,1,85.28,26.200000,0,0

In [44]:
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [33]:
from pycaret.classification import *
r2 = setup(df, target = 'stroke')

In [34]:
best = compare_models()

In [35]:
model = create_model('nb')

In [36]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [37]:
predictions = predict_model(model,data = origin)

In [38]:
finalize_model(model)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
save_model(model, 'my_best_pipeline_NB_New')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='stroke',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='stroke')),
                 ('fix_perfect', Remove_100(target='stroke')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  GaussianNB(priors=None, var_smoothing=1e-09)]],
          verbose=False),
 'my_best_pipeline_NB_New.pkl')